# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env

# Virtual environments
.venv/
env/
venv/

# Logs and temporary files
*.log
*.tmp

# IDE and editor files
.vscode/
.idea/
*.swp

# Build artifacts
dist/
build/
*.egg-info/

# System files
.DS_Store
Thumbs.db